In [960]:
L1 = ['abc', 'xyz', 'aaa', 'bbb']
L2 = ['jkl', 'abc', 'iop', 'xyz', 'abc', 'aaa', 'bbb']

In [961]:
for i in range(len(L1)):
    for j in range(len(L2)):
        if L1[i] in L2:
            L2.remove(L1[i])

In [962]:
L2

['jkl', 'iop']

# List Checking in Table(1)

In [963]:
import pandas as pd

In [964]:
df = pd.DataFrame({'Name' : ['a', 'b', 'c', 'd', 'e', 'f', 'g']})

In [965]:
L3 = ['a', 'e', 'f']

In [966]:
df1 = df['Name'].tolist()

In [967]:
for i in range(len(L3)):
    for j in range(len(df1)):
        if L3[i] in df1:
            df1.remove(L3[i])

In [968]:
df['Name'] = pd.Series(df1)

In [969]:
df

  Name
0    b
1    c
2    d
3    g
4  NaN
5  NaN
6  NaN

# List checking in Table(2)

# Method 1:

In [970]:
L4 = ['Healthcare', 'Analytics']

In [971]:
L5 = ['abc Healthcare', 'Diacto Analytics']

In [972]:
for i in range(len(L4)):
    for j in range(len(L5)):
        L5[j] = L5[j].replace(L4[i], '')

In [973]:
L5

['abc ', 'Diacto ']

# Method 2:

In [974]:
R = []

In [975]:
for i in range(len(L4)):
    for j in range(len(L5)):
        if L4[i] in L5[j]:
            L5[j] = L5[j].replace(L4[i], '')

In [976]:
R.append(L5)
R

[['abc ', 'Diacto ']]

# Method 3:

In [977]:
import re

In [978]:
set1={'Apple.good','Orange.good','Pear.bad','Pear.good','Banana.bad','Potato.bad'}

In [979]:
# to_remove = ['.good', '.bad']
# strings = ['Apple.good','Orange.good','Pear.bad']

# p = re.compile('|'.join(map(re.escape, to_remove))) # escape to handle metachars
# [p.sub('', s) for s in strings]

In [980]:
to_remove = ['.good', '.bad']
strings = ['Apple.good','Orange.good','Pear.bad']
print('|'.join(to_remove))
print('|'.join(map(re.escape, to_remove)))

#map() is for applying the function re.escape to each item of to_remove
#'|'.join() will join all the items in the list to_remove and they will be separated by a separator '|' PIPE 

p = re.compile('|'.join(map(re.escape, to_remove))) # escape to handle metachars
[p.sub('', s) for s in strings]

.good|.bad
\.good|\.bad

['Apple', 'Orange', 'Pear']

# Method 4

In [981]:
for i in range(len(L4)):
    pattern = re.compile(L4[i])
    for j in range(len(L5)):
        pattern.sub('', L5[j])

In [982]:
L5

['abc ', 'Diacto ']

In [983]:
List1 = ['good', 'bad']

List2 = ['good day']

pattern = re.compile('|'.join(map(re.escape,List1)))
[pattern.sub('', u) for u in List2]

[' day']