In [114]:
import pandas as pd
import numpy as np

In [115]:
L = [1, 2, 2, 1]
O = [1, 2, 1, 1]

In [116]:
df = pd.DataFrame({'cap' : L, 'floor1' : O})

In [117]:
df

   cap  floor1
0    1       1
1    2       2
2    2       1
3    1       1

In [118]:
df['floor'] = np.where((df['cap'] == df['floor1']), df['floor1']-1, df['floor1'])

In [119]:
df

   cap  floor1  floor
0    1       1      0
1    2       2      1
2    2       1      1
3    1       1      0