In [1]:
import pandas as pd

In [2]:
L = [1, 2, 3, 4, 5]

In [3]:
def sample(x):
    return x*2

In [6]:
M = list(map(sample, L))

In [7]:
M

[2, 4, 6, 8, 10]

In [35]:
Lambda = list(map(lambda x: x*3, L))

In [36]:
Lambda

[3, 6, 9, 12, 15]

In [37]:
df1 = pd.DataFrame({'A' : [2, 4, 5, 6, 7]})

In [39]:
List = df1['A'].tolist()

In [42]:
df1['A'] = list(map(lambda x: x+1, List))

In [44]:
df1['A']

0    3
1    5
2    6
3    7
4    8
Name: A, dtype: int64

In [ ]:
a = [1, 2, 3]