In [146]:
import re
import pandas as pd

In [147]:
df1 = pd.DataFrame({'Name' : ['Gaurav', "Micheal"]})

In [148]:
pattern = re.compile('Michael')

In [149]:
for i in range(len(df1['Name'])):
    print(df1['Name'][i])

Gaurav
Micheal

In [150]:
for i in range(len(df1['Name'])):
    print(df1['Name'][i])

Gaurav
Micheal

In [151]:
pattern = re.compile(r'^Micheal')

In [152]:
re.sub

In [153]:
for i in range(len(df1['Name'])):
        if re.search(pattern, df1['Name'][i]):
            print(i,'Yes')
            df1['Name'][i] = re.sub(pattern, "Michael", df1['Name'][i])

1 Yes

In [154]:
df1

      Name
0   Gaurav
1  Michael