In [9]:
import pandas as pd
import pandasql as ps

In [13]:
L = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Q = [2, 4, 6, 7, 8, 9, 11, 22, 33, 44, 55]

In [15]:
df = pd.DataFrame({'A' : L})
df1 = pd.DataFrame({'B' : Q})

In [12]:
ps.sqldf("""Select A from df where A <= 5""", locals())

   A
0  1
1  2
2  3
3  4
4  5

In [16]:
ps.sqldf("""Select B from df1 where B <= 10""", locals())

   B
0  2
1  4
2  6
3  7
4  8
5  9

In [17]:
df.query("A < 7")

   A
0  1
1  2
2  3
3  4
4  5
5  6