In [111]:
import pandas as pd
import numpy as np
import requests
import sys
import os

In [112]:
my_array = np.random.randn(5, 5)
my_array

array([[-0.6959909 , -0.55569309, -0.46053837,  0.35080086, -0.48266795],
       [-0.3148262 ,  0.57258443, -0.26191434, -0.15138457,  0.62695501],
       [-1.04961496,  0.30832945,  0.8084248 , -0.77058271,  1.39758117],
       [ 0.92477049, -0.3946083 , -0.30141258,  0.40393224,  1.90546439],
       [-1.94986897,  0.79916221,  0.48905427,  0.39794634,  0.22000883]])

In [113]:
df = pd.DataFrame(my_array, columns = ['A', 'B', 'C', 'D', 'E'], index = ['a', 'b', 'c', 'd', 'e'])
df

          A         B         C         D         E
a -0.695991 -0.555693 -0.460538  0.350801 -0.482668
b -0.314826  0.572584 -0.261914 -0.151385  0.626955
c -1.049615  0.308329  0.808425 -0.770583  1.397581
d  0.924770 -0.394608 -0.301413  0.403932  1.905464
e -1.949869  0.799162  0.489054  0.397946  0.220009

##### Reading csv and implying Hierarchical Structure

In [114]:
path = 'https://github.com/wesm/pydata-book/blob/31c5b4f808559d43364f7d488a73e6c29ff5a2f6/examples/'

In [115]:
df = pd.read_csv(os.path.join(path, 'csv_mindex.csv?raw=True'))
df

  key1 key2  value1  value2
0  one    a       1       2
1  one    b       3       4
2  one    c       5       6
3  one    d       7       8
4  two    a       9      10
5  two    b      11      12
6  two    c      13      14
7  two    d      15      16

In [116]:
df = pd.read_csv(os.path.join(path, 'csv_mindex.csv?raw=True'), index_col = ['key1', 'key2'])
df

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

#### Selecting values from one specific column using index column

In [117]:
df['value1']['one']

key2
a    1
b    3
c    5
d    7
Name: value1, dtype: int64

#### Selecting specific values from column using index column

In [118]:
# Selecting specific multiple rows
df['value1']['one'].loc[['a', 'c']]

key2
a    1
c    5
Name: value1, dtype: int64

#### Selecting values using index column

In [119]:
df.loc['one']

      value1  value2
key2
a          1       2
b          3       4
c          5       6
d          7       8

In [120]:
df.to_csv(sys.stdout)

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

#### Add '?raw=True' at the end of any URL to retrieve the online csv files.

In [121]:
pd.read_csv('https://github.com/wesm/pydata-book/blob/31c5b4f808559d43364f7d488a73e6c29ff5a2f6/examples/ex7.csv?raw=True')

   a  b  c
0  1  2  3
1  1  2  3

##### Placing Null values implying sentinels

In [123]:
sentinels = {'message': ['foo', 'NA'], 'something': ['two']}
df2 = pd.read_csv(os.path.join(path, 'ex5.csv?raw=True')) # na_values=sentinels
df2

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo